<div
  class="card my-4 draggable"
  id="playlist_{{ id }}"
  draggable="true"
  aria-label="Playlist"
  tabindex="0"
>
  <div class="row g-0 align-items-center">
    <div class="col-md-3 p-1">
      <img
        src="images/vinyl/vinyl-{{ vinylColor }}.png"
        class="img-fluid"
        alt="Disco de vinil"
        draggable="false"
      />
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <p class="card-text">{{ title }}</p>
      </div>
    </div>
  </div>
</div>
