html,
body {
  height: 100%;
}

body {
  background-image: url("../images/background.jpg");
  background-color: white;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

#playlists-container {
  max-height: 80vh;
}

#songs-list {
  max-height: 40vh;
}

.draggable {
  cursor: grab;
}
